body{
    display: grid;
    grid-template-areas: 'navbar'
                         'banner'
                         'main'
                         'section'
                         'footer';
    grid-template-columns: 100vw;
    margin: 0;
}
header{
    background-image: url('../img/BobArcoIris.jpg'); 
    background-size: cover;
    grid-area: banner;
    height: 140px;
}
nav{
    background-color:#d3bbde;
    display: flex;
    justify-content: space-between;
    grid-area: 'navbar'
}
main{
    grid-area:main;
}
main h1, main p{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
}
nav div{
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
}
nav div span{
    background-color: black;
    height: 5px;
    width: 30px;
}
nav img{
    width: 35px;
}
section{
    align-items:center;
    display: flex;
    flex-direction: column;
    grid-area: section;
}

.funcionarios img{
    width: 100px;
}

.funcionarios{
    display: flex;
}

@media(min-width:768px){

    section .funcionarios{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 99.5vw;
        align-items: flex-end;
    }
}